@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-secondary text-base text-secondary;
  }
    .h1,.h2,.h3,.h4,.h5,.h6{
      @apply text-primary;
    }
    .h1 {
      @apply font-primary text-[45px] xl:text-[90px] leading-none;
    }

    .h2 {
      @apply  font-primary text-[70px] xl:text-[120px] leading-none;
    }

    .h3 {
      @apply  text-[20px] font-semibold;
    }

    .h4 {
      @apply  text-[20px] xl:text-[35px] font-bold leading-none;
    }

    .lead{
      @apply text-lg

    }
    .des{
      @apply font-primary text-[15px] xl:text-[20px] text-titleYellow;
    }

    .btn{
      @apply rounded-lg h-12 py-3 px-5
    }

    .btn-accent{
      @apply bg-accent hover:bg-accent-hover text-white;
    }
    .input, .textarea{
      @apply w-full outline-none border border-[#d0d5dd] focus:border-accent rounded-lg placeholder:text-[#667085];
    }

    .input {
      @apply h-12 px-[14px];
    }

    .textarea {
      @apply resize-none p-[14px];
    }

    .active {
      @apply text-accent transition-all duration-200;
    }

    .ripple {
      position: relative;
      overflow: hidden;
    }
  
    .ripple::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      background: rgba(0, 0, 0, 0.3); /* Adjust color and transparency */
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      transition: transform 0.4s ease, opacity 0.4s ease;
      pointer-events: none;
    }
  
    .ripple:active::after {
      transform: translate(-50%, -50%) scale(4);
      opacity: 1;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }
  
    
  
}
